In [1]:
import pandas as pd

In [89]:
df = pd.read_excel("liste_enigme_test.xlsx")

In [79]:
titre = df["Titre"]
titre = titre.tolist()

In [14]:
for x in titre:
    print(x)

Le S.A.V. Bouygues Telecom
Elephant in the room
Elephant in the crowd
L'âge des ormeaux
Factures en folie
Analyse d'émotions
Compter les moutons
Annotation
Data Quality
Data Viz
Explicabilité
Dérive
nan

In [12]:
print(titre[:-1])

0     Le S.A.V. Bouygues Telecom
1           Elephant in the room
2          Elephant in the crowd
3              L'âge des ormeaux
4              Factures en folie
5             Analyse d'émotions
6            Compter les moutons
7                     Annotation
8                   Data Quality
9                      Data Viz
10                 Explicabilité
11                        Dérive
Name: Titre, dtype: object

In [18]:
import os

data/annotation/test_texts.xlsx
data/annotation/texts_unlabelled.xlsx

In [33]:
pd.isna(["Parent"])

array([False])

In [52]:
for i in range(12):
    print(df["Parent"][i])
    if df["Parent"][i]=='nan':
        print('cest nan')
    else:
        print('qqch')

nan
qqch
nan
qqch
nan
qqch
nan
qqch
nan
qqch
nan
qqch
nan
qqch
nan
qqch
nan
qqch
Data Quality
qqch
Data Quality
qqch
nan
qqch

In [54]:
for i in range(5):
    print(i)

0
1
2
3
4

In [53]:
for i in range(len(df)):
    print(df["Parent"][i])
    if pd.isna(df["Parent"][i]):
        print('cest nan')
    else:
        print('qqch')

nan
cest nan
nan
cest nan
nan
cest nan
nan
cest nan
nan
cest nan
nan
cest nan
nan
cest nan
nan
cest nan
nan
cest nan
Data Quality
qqch
Data Quality
qqch
nan
cest nan

In [76]:
titres = df["Titre"].tolist()
parents = df["Parent"].tolist()
etoiles = df["Etoile"].tolist()
print(len(titres))

12

In [78]:
reponse = ""
for i in range(len(titres)):
    if pd.isna(parents[i]):
        reponse +=f"\n{i+1}. {titres[i]} {etoiles[i] * 'a'}"
    else :
        reponse +=f"\n - {i+1}. {titres[i]} {etoiles[i] * 'a'}"
print(reponse)

1. Le S.A.V. Bouygues Telecom a
2. Elephant in the room a
3. Elephant in the crowd a
4. L'âge des ormeaux aa
5. Factures en folie aa
6. Analyse d'émotions aaa
7. Compter les moutons aa
8. Annotation aaaaa
9. Data Quality aaaaa
 - 10. Data Viz  aa
 - 11. Explicabilité aaa
12. Dérive aaa

In [95]:
df["Réponse"][6]

"data = {\n    'violet': 444,\n    'bleu': 469,\n    'rouge': 409,\n    'jaune': 330\n}"